div.banner {
    height: 13.5rem;
}

.zero-border-radius {
    border-radius: 0% !important;
}

.relative {
    position: relative;
}

img.banner {
    object-position: center 25%;
    background-size: cover;
    max-height: 13.5rem;
}

.banner-shade {
    backdrop-filter: blur(4px);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}

.manga-card {
    width: 12.5rem;
    max-height: 20rem;
}