.card {
    width: 100%;
    overflow: hidden;
}

.card-body {
    padding: 0 !important;
}

img {
    width: 100%;
    max-height: 22vh;
    object-fit: cover;
    object-position: top;
}

.swiper-button-prev,
.swiper-button-next {
    color: rgba(var(--bs-light-rgb), var(--bs-text-opacity)) !important;
}

@media screen and (min-width: 767px) {
    img {
        max-height: 18vw;
    }
}